// cores
$cor-background: #15193F;
$cor-branco: #EBEBEB;
$cor-branco-suave: #D9D9D9;
$cor-verde: #6FF2BF;
$cor-roxo: #8D92F2;

// fonte
$fonte-bold: 'Monolisa-bold', sans-serif;
$fonte-black: 'Monolisa-black', sans-serif;