@import '../../styles/variables';

.Navbar {
    &_list {
        display: flex;
        gap: 4rem;
    }
    &_item {
        font-size: 2rem;
        font-weight: 700;
        &_link {
            color: $cor-verde;
            &:hover {
                color: $cor-roxo;
                text-decoration: underline wavy $cor-verde;
            }
        }
    }

    @media screen and (max-width: 720px) {
        &_list {
            gap: 2rem;
        }

        &_item {
            font-size: 1.6rem;
        }
    }
}