.header {
    display: flex;
    justify-content: flex-end;
    padding-top: 4rem;
    margin: 0 10rem;

    @media screen and (max-width: 720px) {
        margin: 0;
        margin-right: 1rem;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;

    p {
        margin-top: 1rem;
        font-size: 1.8rem;
    }

    @media screen and (max-width: 720px) {
        p {
            font-size: 1.4rem;
        }
    }
}